.container{
    max-width:150px;
    margin:0 auto;
    padding:2px 3px;
    background-color: transparent;
    border: none;
}

.cart-holder{
    border:2px solid #56CCF2;
    border-radius: 7px;;
    padding:2px 10px;
    right: 2%;
    color: FFFFFF8C;
}

.cart-number{
    color:#56CCF2;
    position: absolute;
    font-size: 20px;
    top:-2px;
    right: 28px;
}